.env
.env.example
.git
.github/
*.exe
*.exe~
*.dll
*.so
*.dylib
*.test
*.out
vendor/
go.work
go.work.sum
/tmp
/logs
*.log
.vscode/
.idea/
*.swp
*~
docker-compose.dev.yaml
docker-compose.yml
LICENSE
README.md